.container {
  color: white;
  display: flex;
  justify-content: center;
}
#mothraImg,
#employeeDirectory,
#budgetTracker,
#burger {
  height: 150px;
  width: 150px;
  border-radius: 30%;
}
#projects-header {
  display: flex;
  flex-flow: column;
  align-items: center;
}
#projects {
  margin-top: 1%;
}
.projectContainer {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-self: center;
  margin-bottom: 10%;
}
#mothraRepo {
  margin: 10px;
}
i {
  margin: 20px;
}
i:hover {
  opacity: 30%;
}
#mothraImg:hover,
#budgetTracker:hover,
#employeeDirectory:hover,
#burger:hover {
  opacity: 70%;
}
#moreProjects {
  margin-top: 15%;
  font-size: 24px;
}
#personalRepo {
  margin: 5%;
}
