#skills-header,
#languages-header {
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px groove white;
  text-align: center;
}
.skills-row,
.languages-row {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
#content {
  color: white;
  padding-top: 1%;
  border: 1px groove white;
}
#languages-header {
  padding-top: 5%;
}
.header-container {
  display: flex;
  justify-content: center;
}
.display-card {
  background-color: black !important;
}
.row {
  display: flex;
  align-self: center;
}
