#display-card {
  margin-top: 20px;
  background-color: black !important;
  display: flex;
}
.tidbit {
  margin: 10px;
}

.card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-header {
  padding: 0 !important;
}
#header {
  font-size: 30px;
}
#photo {
  object-fit: contain;
  align-self: flex-start;
  border-radius: 32%;
}
.text {
  align-self: flex-end;
}
.contact-card {
  flex-flow: row;
  justify-content: center;
}
