#display-card {
  margin-top: 20px;
  background-color: black !important;
  display: flex;

  padding-bottom: 10%;
}
.tidbit {
  margin: 10px;
}

#aboutPara {
  padding-top: 10%;
}
#about {
  padding-bottom: 10%;
}
#divider {
  display: flex;
  align-self: center;
}
.card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-header {
  padding: 0 !important;
}
#header {
  font-size: 30px;
}
#photo {
  object-fit: contain;
  align-self: flex-start;
  border-radius: 32%;
}
.text {
  align-self: flex-end;
}
.contact-card {
  flex-flow: row;
  justify-content: center;
}
#divider {
  display: flex;
  justify-content: center;
  width: 200px;
  border: 3px solid whitesmoke;
  padding: 20px;
  border-radius: 50%;
}
@media screen and (max-width: 700px) {
  .aboutItems {
    align-self: center !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .aboutCard {
    padding-bottom: 20%;
  }
}
