.item {
  display: flex;
  align-items: baseline;
  align-content: center;
}
#display-card {
  margin-top: 20px;
  background-color: black !important;
}
.contactContent {
  padding-left: 0;
}
a {
  color: white;
}
